@model ParlorZeta.Azure.Certificates.PublishSettings

<div class="nav navbar-nav navbar-right">
    @if (Model == null)
    {
        <div class="text-danger">No subscription active</div>
        <a href="@Url.Action("Index", "Certificates")" class="btn btn-danger btn-xs pull-right">Change</a>
    }
    else
    {
        <div class="text-info">Sub: @Model.Name</div>        
        <a href="@Url.Action("Index", "Certificates")" class="btn btn-info btn-xs pull-right">Change</a>
    }    
</div>
<div></div>