<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ParlorZeta</title>
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    
    <nav class="navbar navbar-default navbar-inverse">
        <span class="navbar-brand">Azure Portal</span>
        <ul class="nav navbar-nav">
            <li>
                @Html.ActionLink("VMs", "Index", "VirtualMachines")
            </li>
            <li>
                <a>Tasks</a>
            </li>
        </ul>
    </nav>
        
    <div class="container-fluid">
        @RenderBody()
    </div>
    @RenderSection("scripts", required:false)

</body>
</html>
